<h1>  HI  {{ all_user }}  </h1>

<ul>
    {% for order in all_order %}
    <li><a href="{% url  'mainpage:detail' order.id %}"> {{ order.resturant_name  }} </a> <br> {{ order.offer_description }}  
    

    <!-- Delete Album -->
    <form action="{% url 'mainpage:delete-order' order.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="album_id" value="{{ album.id }}" />
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>


    
    
    
     </li><br>
    
    
    {% endfor %}

<a href= "{% url 'mainpage:add-order' %}" > add your option </a>


</ul>